#stopwatch {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    color: white;
}

#start-stop.start {
    background-color: #00bfff; 
}

#start-stop.stop {
    background-color: #00bfff; 
}

#reset {
    background-color: #00bfff; 
}
